:root {
    --deepIndigo: #000267;
    --darkBlue: #061b67;
    --navyBlue: #003399;
    --skyBlue: #6db4fc;
    --lightBlue: #A7C6D3;
    --mainWhite: #fff;
    --green: #00cc66;
    --orange: #ff6633;
    --torquoise: #06fad9;
    --khaki: #f6dab7;
}

#root {
    height: 100%;
}

html, body {
    background: var(--mainWhite);
    height: 100%;
}

.text-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.3rem;
}

.text-blue {
    color: var(--darkBlue);
}

.text-bright {
    color: var(--lightBlue);
}

.fas {
    margin-right: 3px;
    color: white;
}

.fa-cart-plus {
    color: black;
}

.cart-button__container {
    margin-top: 5px;
}

.nav__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav {
    width: 100%;
    display: flex;
}

.nav__link {
    margin: 5px;
}

.nav__link span {
    padding-left: 5px;
}


.nav__container ul {
    list-style-type:none;
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}

.cart-button__container {
    justify-self: flex-end;
}

.nav__container a {
    text-decoration: none;
    justify-self: flex-end;
    font-size: 0.8rem !important;
    text-transform: capitalize;
}

.fa-chevron-down {
    margin-bottom: 20px;
    color: white;
}

.justify-start {
    margin-right: auto;
}

.logo {
    width: 200px;
    height: 200px;
    margin-right: auto;
}

.home__banner {
    width: 100%;
    height: auto;
    background-color: var(--lightBlue); 
    color: white;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.home__banner-text {
    width: 50%;
    text-align: center;
}

.home__banner-text span {
    color: var(--deepIndigo);
}

.home__grid {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
    display: flex;
    align-items: center;
    background: var(--deepIndigo);
}


.home__grid-first__row {
    display: flex;
    justify-content: space-between;
    width: 70%;
    background: var(--deepIndigo);
    height: auto;
    margin-bottom: 30px;
}

.home__grid-first__row__image-one {
    width: 48%;
}

.home__grid-first__row__image-two {
    width: 48%;
    background: var(--mainWhite);
}

.home__grid-second__row {
    width: 70%;
    background: var(--mainWhite);
    height: 300px;
}

.home__grid-third__row {
    width: 70%;
    background: var(--mainWhite);
    height: 300px;
}

.home__grid-fourth__row {
    width: 70%;
    background: var(--mainWhite);
    height: 300px;
}

.home__grid-fifth__row {
    width: 70%;
    background: var(--mainWhite);
    height: 300px;
}

.home__grid-sixth__row {
    width: 70%;
    background: var(--mainWhite);
    height: 300px;
}

.products__container {
    padding: 0;
    margin: 0;
    list-style: none;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
}

.products__title {
    display: flex;
    justify-content: center;
}

.product__image-container {
}

.product__image {
    display: block;
    width: 100%;
}