:root {
    --deepIndigo: #000267;
    --mainBlue: #02244E;
    --darkBlue: #061b67;
    --navyBlue: #003399;
    --skyBlue: #6db4fc;
    --lightBlue: #A7C6D3;
    --mainWhite: #fff;
    --green: #00cc66;
    --orange: #ff6633;
    --torquoise: #06fad9;
    --khaki: #f6dab7;
}

#root {
    height: 100%;
}

html,
body {
    background: var(--mainWhite);
    height: 100%;
}

header {
  background: var(--mainBlue);
  color: var(--mainWhite);
}

.text-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.3rem;
}

.text-blue {
    color: var(--darkBlue);
}

.text-bright {
    color: var(--lightBlue);
}

.fas {
    color: white;
    font-size: 1.5rem;
}

.fa-shopping-cart {
    color: white;
    font-size: 1.5rem;
}

.cart-button__container {
    margin-top: 5px;
    border: none;
}

.nav__container {
    display: flex;
    width: 100%;
    align-items: center;
    background: var(--mainBlue);
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.nav__modal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-modal__close {
  text-align: right;
  font-size: 2rem;
  padding: 1rem;
}

.nav-modal__menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 3rem;
  padding: 2rem;
}

.nav-modal__menu li {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
}

.nav-modal__menu li a {
  text-decoration: none;
  list-style: none;
  color: #fff;
  line-height: 4rem;
}


.nav__link {
    margin: 5px;
}

.nav__link span {
    padding-left: 5px;
}

.nav__container ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}

.cart-button__container {
    justify-self: flex-end;
}

.justify-start {
    margin-right: auto;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: auto;
    margin-bottom: 2rem;
}

.home__mantra {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.home__mantra-text {
  width: 70%;
}

.home__banner-text {
    width: 50%;
    text-align: center;
}

.home__banner-text span {
    color: var(--deepIndigo);
}

.products__container {
    padding: 0;
    margin-top: 3rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}

.home__img {
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.home__img:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.products__title {
    display: flex;
    justify-content: center;
}

.product__image-container {}

.product__image {
    display: block;
    width: 100%;
}

.btn-black {
    background: transparent;
    text-transform: capitalize;
    font-size: 0.8rem !important;
    color: var(--mainDark);
    border-radius: 0 !important;
    border: 0.1rem solid var(--mainDark) !important
}

.btn-black:hover {
    background: var(--mainDark);
    color: var(--mainWhite) !important;
}

.cart-icon {
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--mainYellow);
}

.fa-trash {
    color: black;
}

.masonry__layout {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.home__mantra {
    background: var(--mainBlue);
    height: auto;
    padding-bottom: 50px;
    color: var(--mainWhite);
    font-size: 1.7rem;
    line-height: 3.2rem;
    text-align: center;
    padding-right: 3rem;
    padding-left: 3rem;
}


.sustainability {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--mainWhite);
}

.sustainability h3 {
    text-align: center;
    font-size: 2rem;
}

.sustainability .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-weight: normal;
}

.sustainability .row p {
    width: 60%;
    line-height: 2rem;
    font-size: 1.5rem;
}

.sustainability .sustainability-img {
    width: 200px;
    max-width: 100%;
    height: 200px;
    border-radius: 60%;
    max-width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer {
    background: var(--mainBlue);
    color: var(--mainWhite);
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    line-height: 3rem;
    padding: 4rem;
}

.footer a {
    color: var(--mainWhite);
    text-decoration: none;
}

.footer__copyright {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
    margin-top: 10px;
}

.box {
  margin: 2rem;
  margin-bottom: 0.2rem;
  background-color: #F8F7F5;
}

.box a {
  text-decoration: none;
  color: #000;
}

.box .fas {
  color: black;
}

.box img {
  width: 100%;
  max-height: 650px;
}

.card-footer {
  margin: 2rem;
  margin-top: 0.5rem;
  font-size: 13px;
  line-height: 19px;
}

.card-footer a {
  text-decoration: none;
  color: #000;
}

.card-footer a:hover {
  text-decoration: underline;
  color: #000;
}

.details {
  width: 30%;
  margin-right: 6rem;
}

.product__details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.product__info{
  height: 300px;
  width: 30%;
}

.product__image {
  height: 700px;
  width: 100%;
}

body.modal--open {
    overflow: hidden;
}

.modal__image {
  width: 200px;
  height: 200px;
  margin: 2rem;
}

.modal__content {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1%;
}


.funtua_projects {
  background: var(--mainBlue);
}

.funtua__mantra {
  display: flex;
  justify-content: center;
  background: var(--mainBlue);
  color: var(--mainWhite);
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.funtua__mantra-text {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2.5rem;
  text-align: left;
  font-size: 2rem;
}

.funtua__mantra-text h3 {
  font-size: 2.5rem;
  margin: 0;
}

.funtua__mantra-text p {
  text-align: left;
}

.funtua_banner--image {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
}

.funtua_banner--image img {
  width: 40%;
  margin: 3rem;
}

.slide-container {
  margin: auto;
  background: #fff;
  padding: 2rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: lighter;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 300px;
}

.each-fade {
  display: flex;
  align-items: center;
}

.each-fade .image-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.each-fade .image-container img {
  height: 700px;
  width: 700px;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}

.react-slideshow-container .nav {
  background: #fff;
}

@media only screen and (max-width: 600px) {

  .home__mantra {
    margin: 0;
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .home__mantra__text {
    width: 90%;
  }


  .masonry__layout {
    margin: 0;
  }

  .about .row p {
      width: 70%;
  }

  .product__details {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    margin-bottom: 0;
  }

  .product__info {
    width: 80%;
  }

  .details {
    width: 90%;
    margin-right: 0;
  }

  .sustainability .row p {
      width: 80%;
  }
}
