:root {
    --deepIndigo: #000267;
    --mainBlue: #02244E;
    --darkBlue: #061b67;
    --navyBlue: #003399;
    --skyBlue: #6db4fc;
    --lightBlue: #A7C6D3;
    --mainWhite: #fff;
    --green: #00cc66;
    --orange: #ff6633;
    --torquoise: #06fad9;
    --khaki: #f6dab7;
}

#root {
    height: 100%;
}

html,
body {
    background: var(--mainWhite);
    height: 100%;
}

.text-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.3rem;
}

.text-blue {
    color: var(--darkBlue);
}

.text-bright {
    color: var(--lightBlue);
}

.fas {
    margin-right: 3px;
    color: white;
}

.fa-shopping-cart {
    color: white;
    font-size: 1.2rem;
}

.cart-button__container {
    margin-top: 5px;
    border: none;
}

.nav__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--mainBlue);
}

.nav {
    width: 100%;
    display: flex;
}

.nav__link {
    margin: 5px;
}

.nav__link span {
    padding-left: 5px;
}

.nav__container ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}

.cart-button__container {
    justify-self: flex-end;
}

.nav__container a {
    text-decoration: none;
    justify-self: flex-end;
    font-size: 0.8rem !important;
    text-transform: capitalize;
}

.fa-chevron-down {
    margin-bottom: 20px;
    color: white;
}

.justify-start {
    margin-right: auto;
}

.logo {
    width: 200px;
    height: 200px;
    margin-right: auto;
}

.home__banner {
    width: 100%;
    height: auto;
    background-color: var(--lightBlue);
    color: white;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.home__banner-text {
    width: 50%;
    text-align: center;
}

.home__banner-text span {
    color: var(--deepIndigo);
}

.products__container {
    padding: 0;
    margin-top: 3rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}

.products__title {
    display: flex;
    justify-content: center;
}

.product__image-container {}

.product__image {
    display: block;
    width: 100%;
}

.btn-black {
    background: transparent;
    text-transform: capitalize;
    font-size: 0.8rem !important;
    color: var(--mainDark);
    border-radius: 0 !important;
    border: 0.1rem solid var(--mainDark) !important
}

.btn-black:hover {
    background: var(--mainDark);
    color: var(--mainWhite) !important;
}

.cart-icon {
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--mainYellow);
}

.fa-trash {
    color: black;
}

.masonry__layout {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.home__mantra {
    background: var(--mainBlue);
    height: auto;
    padding-bottom: 50px;
    color: var(--mainWhite);
    font-size: 1.7rem;
    line-height: 3.2rem;
    text-align: center;
    padding-right: 3rem;
    padding-left: 3rem;
    margin-bottom: 40px;
}

.about {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--lightBlue);
}

.about h3 {
    text-align: center;
}

.about .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .row p {
    width: 50%;
    font-weight: lighter;
    line-height: 1.5rem;
}

@media only screen and (max-width: 600px) {
    .about .row p {
        width: 70%;
    }
  }

.about .about-img {
    width: 200px;
    max-width: 100%;
    height: 200px;
    border-radius: 60%;
    max-width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer {
    background: var(--mainBlue);
    color: var(--mainWhite);
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    line-height: 3rem;
    padding: 4rem;
}

.footer a {
    color: var(--mainWhite);
    text-decoration: none;
}

.footer__copyright {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
    margin-top: 10px;
}

.box {
  margin: 2rem;
  background-color: #F8F7F5;
}

.box a {
  text-decoration: none;
  color: #000;
}

.box .fas {
  color: black;
}

.card-footer {
  margin: 2rem;
  font-size: 13px;
  line-height: 19px;
}

.card-footer a {
  text-decoration: none;
  color: #000;
}

.card-footer a:hover {
  text-decoration: underline;
  color: #000;
}
